/* Mobile version here */
html, body {
	margin: 0px;
	padding: 0px;
}

* {
	color: rgb(80, 80, 80);
	font-family: 'Comfortaa', cursive;
	/*font-family: 'Archivo', sans-serif;*/
	cursor: url(../img/Normal.cur);
}

.container {
	width: 1000px;
	margin: 0 auto;
}

/* HEADER */
#dropdown {
	background-color: rgb(237, 218, 21);
}

.fas.fa-bars {
	margin: 10px;
	padding: 5px 10px 5px 10px;
	font-size: 3rem;
	border: 2px solid gray;
	border-radius: .2rem;
	background-color: rgb(199, 183, 18);
}

.fas.fa-bars.two {
	margin: 10px;
	padding: 5px 10px 5px 10px;
	font-size: 3rem;
	border: 2px solid gray;
	border-radius: .2rem;
	background-color: rgb(220,220,220);
}

.headerInformation {
	padding: 0rem 0rem 0.2rem 0.8rem;
	margin-top: 0px;
	display: none;
	box-shadow: none!important;
}

.headerInformation>li {
	display: block;
	padding: .3rem 0rem;
}

.headerInformation>li>i {
	padding-right: 6px;
}

.fab {
	font-size: 3rem;
}

.fab.fa-whatsapp {
	font-size: initial;
}

/* NAVBAR */

.logo {
	float: right;
	margin: .5rem 3rem 0rem 0rem;
	position: relative;
	z-index: -1;
}

.navBar {
	padding: 0rem 0rem 0.2rem 0.8rem;
	margin-top: 0px;
	display: none;
	box-shadow: none!important;
}

nav {
	margin-top: 15px;
}

/* CAROUSEL */

img[src="../img/carouselSlide3.jpg"] {
	width: 100vw!important;
}

#carouselExampleIndicators {
	width: 100vw!important;
	margin-top: 50px;
}

/* JAVASCRIPT CSS FUNCTIONS */
.showDropdown {
	display: block;
}

.showNavBarDropDown {
	display: block;
	z-index: 1;
	background-color: white;
	transition: ease-in-out 0.4s;
}

/* DIV CONTAINER */

#divContainer {
	width: 100vw;
}

/* EDITING FOR THE THREE DIVS INSIDE OF THE #divContainer */

#divContainer>div {
	margin: 2.5rem auto;
	width: 86vw;
	text-align: left;
}

#proeflesDIV>h1, #locatiesDIV>h1, #rijlessenDIV>h1 {
	padding-bottom: 0.6rem;
	border-bottom: 2px solid rgb(143, 143, 143);
	margin-bottom: 1.8rem;
}

#proeflesDIV>h1>i, #locatiesDIV>h1>i, #rijlessenDIV>h1>i {
	padding-right: 0.4rem; 
}

#proeflesDIV>p, #locatiesDIV>p, #rijlessenDIV>h1>p {
	width: 86vw;
	text-align: left;
}

#proeflesDIV>button {
	width: 61vw;
	font-weight: bolder;
	padding: 1.2rem;
	background-color: rgb(247, 193, 67);
	border: none!important;
	border-radius: 0.1rem;
    position: relative;
    left: 4rem;
    cursor: pointer;
}

#wordHIER {
	color: rgb(54, 118, 216);
	font-weight: 600;
}

/* EMBED VIDEO */
.embedVID {
	width: 86vw;
	margin: 0 auto;
	margin-bottom: 2.3rem;
}

.embedVID iframe {
	width: 100%;
}

/* FOOTER */
footer {
	width: 100vw;
	padding: 0.4rem 0rem;
	background-color: rgb(237, 218, 21);
	text-align: center;
}

/* DESKTOP VERSION HERE */
@media only screen and (min-width: 780px) {
	
	/* BASIC HTML CSS */
	html, body {
		margin: 0px;
		padding: 0px;
	}

	/* HEADER */
	.fas.fa-bars {
		display: none;
	}

	#dropdown {
		background-color: rgb(237, 218, 21);
		width: 100vw;
	}

	.headerInformation {
		margin: 0 auto;
	    width: 73%;
	    text-align: right;
	    display: inherit;
	}

	.headerInformation>li {
		display: inline-block;
		padding: 0px 10px
	}

	.headerInformation>li>i {
		padding-right: 6px;
	}

	.fab {
		font-size: initial;
	}

	.logo {
		float: initial;
		margin: initial;
		position: initial;
		z-index: initial;
		width: 18vw;
	}

	/* NAVBAR */
	nav {
		width: 73.5vw;
	    margin: 0 auto;
	    text-align: right;
	    height: 4rem;
	    margin-top: 20px;
	}

	.navBar {
		margin-bottom: 120px;
		display: inline-block;
		position: relative;
	}

	.navBar>li {
		display: inline-block;
		padding: 0px 8px;
	}

	/* CAROUSEL */
	#carouselExampleIndicators {
		width: 100vw!important;
	}

	/* THREE COLUMNS WITH TEXT */
	#divContainer {
		display: grid;
		grid-template-columns: auto auto auto;
		grid-template-rows: auto;
		grid-gap: 30px;
		margin: 0 auto;
		width: 1000px;
	}

	#divContainer>div, #divContainer>div>p {
		width: 20.8rem;
	}

	#proeflesDIV>button {
		width: 100%;
		position: initial;
	}

	/* EMBED VIDEO */
	.embedVID {
		width: 1000px;
		margin: 0 auto;
		margin-bottom: 2.3rem;
		position: relative;
	}

	.embedVID iframe {
		width: 1060px;
		height: 594px;
	}
}